@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}

body
{
    background-image: url(./img/shop_cart-2.png);
    padding: 70px 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"]
{
    outline: none;
    border: none;
    height: 50px;
    padding-left: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: .5s ease-in-out;
}


input[type="checkbox"]
{
    background-color: black;
    margin: 0 20px;
}

input[type="checkbox"]::before {
    filter: invert(100%);
  }

input[type="checkbox"]:checked::before {
    font-size: 18px; /* Tamanho do marcador quando estiver selecionado */
  }

ion-icon
{
    transform: scale(1.5);
    color: rgba(0, 0, 0, 0.7);
}

#nomeDoItem
{
    grid-area: input;
    width: 50%;
    border-radius: 4px;
    border: transparent;
}


#quantidadeDoItem
{
    grid-area: input;
    width: 30%;
    padding-left: 2em;
    border-radius: 4px;
    border: transparent;
}

#btnAdd
{
    grid-area: btn;
}

@media(max-width: 549px)
{
    body
    {
        padding: 0;
        align-items: baseline;
    }
    
    #quantidadeDoItem
    {
    padding-left: 15px;
    }
}