h1 {
  margin: 1em 0;
  font-size: 32px;
}

.titulo {
  text-align: left;
}

.botoes-superiores {
  display: flex;
  justify-content: space-between;
}

.botoes-superiores button{
  font-size: 16px;
}

.excluir-marcados{
  background: transparent;
  color: white;
  border: transparent;
  padding: 0;
  border-bottom: 1px solid red;
}

#botao-mover-fim {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  border-bottom: solid 1px;
  padding: 2px 0;
}

#botao-mover-fim i {
  margin-right: 5px; /* Espaçamento entre o ícone e o texto do botão */
}

/* body */
table {
  margin-top: 2em;
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 300px;
}

tr{
  display: flex;
  justify-content: space-between;
}

tbody>td:first-of-type{
  padding: 2em;
}

html {
  background-color: black;
  color: white;
}

body {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

p {
  padding-top: 1em;
  padding-bottom: 1em;
}

input {
  border-radius: 5px;
  font-size: 20px;
}

input,
select {
  border: black 1px solid;
}

button{
  cursor: pointer;
}

#mostrar-form{
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);  
  background-color: #bf87ea;
  color: #fff;
  border: none;
  padding: 20px 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
}

.excluir {
  background: transparent;
  border: transparent;
  cursor: pointer;
  margin-top: 12px;
  margin-right: 2px;
}

.excluir > img{
  width: 16px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 10px;
  left: 4px;
  height: 25px;
  width: 25px;
  border-radius: 8px;
  border: solid 1px black;
}

.container:hover input ~ .checkmark {
  background-color: white;
}

.container input:checked ~ .checkmark {
  background-color: white;
  border: solid 0px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 12px;
  top: 8px;
  width: 5px;
  height: 10px;
  border: solid rgb(0, 0, 0);
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#meu-form{
  width: 300px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  background: white;
  border-radius: 8px;
  z-index: 10;
}

label{
  color: black;
  margin-bottom: 1em;
}

#meu-form>h2{
  background: #bf87ea;
  padding: 1em;
  border-radius: 8px 8px 0 0;
  color: white;
}

.horizontal{
  width: 262px;
  display: flex;
  justify-content: space-between;
}

.vertical{
  width: 120px;
  display: flex;
  flex-direction: column;
}

.principal {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 1em;
}

.botoes {
  display: flex;
  justify-content: space-around;
}
input{
  padding: 0 0 0 16px ;
}
input[type="text"] {
  width: 234px;
  height: 2em;
}

input[type="number"] {
  width: 102px;
  height: 2em;
}

select {
  height: 44px;
  border-radius: 5px;
  width: 109px;
}

.botao-adicionar{
  display: flex;
  justify-content: flex-end;
  width: 265px;
}

#botao-adicionar-item{
  background-color: #bf87ea;
  border: transparent;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

#botao-adicionar-item:active{
  background-color: black;
  border: transparent;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}


#mostrar-form button{
  background-color: #bf87ea;
  border: transparent;
  color: black;
}

.excluir-todos-marcados{
  display: none;
  z-index: 50;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%); 
  bottom: 0;
  background-color: white;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  height: auto;
  color: black;
  flex-direction: column;
  border-radius: 5px 5px 0 0;
}

.excluir-todos-marcados h2{
  padding: 1em;
}

.botoes-excluir-marcados{
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1em;
}

#cancelar{
  background: #bf87ea;
  color: white;
  border: transparent;
  border-radius: 5px;
  font-weight: 700;
  width: 85px;
  height: 26px;
}

#excluir{
  background: #DB0000;
  color: white;
  border: transparent;
  border-radius: 5px;
  font-weight: 600;
  width: 85px;
  height: 26px;
}